
ion-header{
  height: 140px;
}

ion-toolbar{
  height: 110px;
}

ion-title{
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
}

.botonGrande{
  height: 110px;
  font-size: 35px;
}

.botonGrandeRestablecer{
  height: 110px;
  font-size: 35px;
  background-color: red;
}

.PreguntasYRespuestas{
  font-size: 30px;
}

.margen_lista_lados{
  margin-left: 20px;
  margin-right: 20px;
}

.margen_lista_arriba{
  margin-top: 70px;
}

.texto_azul{
  color: #2e69ce;
}

.margen_izquierda_30{
  margin-left: 30px;
}

.linea {
  height: 3px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}

ion-radio {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  size: 30px;
  --color-checked: #23344b;
  margin-right: 10px;
}

.alerta {
  height: 60px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 3%;
}
